
@font-face {
    font-family: 'staatliches';
    src: url('../fonts/staatliches-regular-webfont.woff2') format('woff2'),
         url('../fonts/staatliches-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/oswald-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Inika';
    src: url('../fonts/inika-regular-webfont.woff2') format('woff2'),
        url('../fonts/inika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('../fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
        url('../fonts/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --bg: rgb(58, 65, 79);
    --dimFill: rgba(255, 255, 255, 0.322);
    --smallImg: 5rem;
    --smallBuffer: 1rem;
    --medBuffer: 2rem;
    --largeBuffer: 4rem;
    --headerTextColor: white;
    --paragraphTextColor: white;
    --thickBorder: solid 15px rgba(180, 228, 255, 0.164);
    --thinBorder: solid 8px rgba(180, 228, 255, 0.186);
    --brsmall: 1rem;
    --brlarge: 5rem;
    --tsn: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    --longtsn: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    --testColor: red;
    --testColor2: blue;
    --ptext: 'poppins', Arial, Helvetica, sans-serif;
    --htext: 'oswald', Arial, Helvetica, sans-serif;
    --specialText: 'Inika', Arial, Helvetica, sans-serif;
}

html{
    background-color: var(--bg);
}
body{
    border-top: var(--thickBorder);
    border-left: var(--thickBorder);
    border-bottom: var(--thickBorder);
    border-radius: var(--brsmall);
    margin: 2rem;
}
header{
    border-bottom: var(--thinBorder);
    border-radius: var(--brsmall);
    margin-left: var(--medBuffer) ;
    margin-right: var(--medBuffer) ;
    padding-top: .75rem;
    padding-bottom: 1.5rem;
}
h1{
    font-size: 4rem;
    font-family: var(--htext);
}
h2{
    font-size: 2rem;
    font-family: var(--ptext);
}
h3{
    font-size: 1.5rem;
    font-family: var(--ptext);
}
a{
    color: var(--paragraphTextColor);
    font-family: var(--ptext);
    text-decoration: none;
}
img{
    height: 100%;
}



.header_icon{
    width: var(--smallImg);
    height: var(--smallImg);
    padding: var(--smallBuffer);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: opacity(40%);
    transition: var(--tsn);
}
.header_iconCaption{
    filter: opacity(0%);
    position: absolute;
    top: 4.7rem;
    transition: var(--tsn);
}
.header_icon:hover{
    filter: opacity(100%);
    transition: var(--tsn);
}

.header_icon:hover .header_iconCaption{
    filter: opacity(100%);
    top: 5.2rem;
}

.header_buttonBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header_buttonsRight{
    display: flex;
}

.index_main{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: var(--largeBuffer);
    padding-bottom: var(--largeBuffer);
    width: 100%;
}
.index_mainText{
    text-align: left;
}
.main_boxLeft{
    color: var(--headerTextColor);
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_boxRight{
    display: flex;
    width: 50%;
    max-height: 30rem;
}



.portfolioLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.portfolioLinkBox{
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: var(--thinBorder);
    border-top: var(--thinBorder);
    border-radius: var(--brsmall);
    height: 3rem;
    margin: var(--smallBuffer) 0;
}



.footer_links{
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    margin: 0 auto;
}
.footer_pageLink{
    /* background: var(--headerTextColor); */
    font-size: 1.5rem;
    padding: var(--smallBuffer) 1.5rem;
    border-radius: var(--brsmall);
    transition: var(--tsn);
}
.footer_pageLink:hover{
    background: var(--headerTextColor);
    color: var(--bg);
    transition: var(--tsn);
}